<strong>Hola {{ provider }}</strong>
<p>le notificamos que hubo un cancelamiento de horario mas detalles:</p>
<p><strong>Cliente:</strong>{{user}}</p> <br>
<p><strong>Fecha/Hora</strong>{{ date }}</p> <br> <br>

<small>el horario esta de nuevo disponible para agedamientos</small>
